[submodule "2015"]
	path = 2015
	url = https://github.com/nickwarters/aoc-2015
[submodule "2021"]
	path = 2021
	url = https://github.com/nickwarters/aoc-2021
[submodule "2022"]
	path = 2022
	url = https://github.com/nickwarters/aoc-2022
